
    <script id="category_item" type="text/html">
      <td>{{name}}</td>
      <td>{{description}}</td>
      <td>{{price}}</td>
      <td><span id="zapp"> X </span></td>
    </script>
    <script id="category_items_table" type="text/html">
      <h2>Participant Categories</h2>
      <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th>description</th>
            <th>price</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </script>
    <script id="category_add_item" type="text/html">
      <form class="form-horizontal well">
        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input name="name" type="text" value="{{name}}" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <input name="description" type="text" value="{{description}}" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="price">Price</label>
          <div class="controls">
            <input name="price" type="text" value="{{price}}" />
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn" id="add">Add</button>
          </div>
        </div>
      </form>
    </script>
