

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span8 offset2">
      <h1>Edit colloquy</h1>
      <div id="uppo">
      </div>
      <div id="items">
      </div>
      <div id="appo">
      </div>
      <%= link_to 'Back', colloquies_path %>
    </div>

  </div>
</div>


