

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span8 offset2">
      <h2>Event Editor</h2>
      <div id="uppo">
      </div>
      <ul id="tabster" class="nav nav-tabs">
        <li class="active"><a href="#items" data-toggle="tab">Sessions</a></li>
        <li><a href="#categories" data-toggle="tab">Categories</a></li>
      </ul>
      <div class="tab-content">
        <div id="items" class="tab-pane active">
        </div>
        <div id="categories" class="tab-pane">
        </div>
      </div>
      <div id="appo">
      </div>
      <%= link_to 'Back', colloquies_path %>
    </div>

  </div>
</div>


